<div class="album-cards">

  {{#each albums}}

    <div class="album">
      <img src="{{this.images.0.url}}" alt="Album Cover" />
      <h2>{{this.name}}</h2>
      <a href="/{{this.id}}/tracks"><button>View Tracks</button></a>
    </div>

  {{/each}}

</div>