<div class="album-cards">

  {{#each albums}}

    <div class="album">
      <div
        class="album-cover"
        style="background-image: url({{this.images.0.url}})"
      ></div>
      <h2>{{this.name}}</h2>
      <a href="/{{this.id}}/tracks"><button class="button">View Tracks</button></a>
    </div>

  {{/each}}

</div>