<div class="artist-cards">

  {{#each artists}}

    <div class="artist">
      <div
        class="artist-image"
        style="background-image: url({{this.images.0.url}})"
      ></div>

      <h2>{{this.name}}</h2>
      <a href="/albums/{{this.id}}"><button class="button">View Albums</button></a>
    </div>

  {{/each}}

</div>