<div class="tracks-table">
  <table>
    <thead>
      <tr>
        <th><h2>Title</h2></th>
        <th class="audio-controls"><h2>Listen</h2></th>
      </tr>
      <tbody>
        {{#each tracks}}
          <tr>
            <td class="track-title">
              <h4>{{this.name}}</h4>
            </td>
            <td class="track-controls"><audio controls>
                <source src="{{this.preview_url}}" />
              </audio>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </thead>
  </table>
</div>